numpy==1.21.6
Cython==0.29.36
pystan==2.19.1.1
pandas==1.3.5
prophet==0.7.1
fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.1
apscheduler==3.10.4
holidays==0.26.0
python-multipart==0.0.9
httpx==0.27.0
